<ul>
    <% @organizations.each do |o| %>
       <li><%= link_to o.name, o %></li> 
       <ul>
        <% o.projects.each do |proj| %>
           <li><%= link_to proj.name, project_path(proj)%></li> 
        <% end %>
       </ul>
    <% end %>
</ul>

<%= link_to 'New Organization', new_organization_path %>
